# Random defaults
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

.extra
.gnupg
!.gnupg/gpg*.conf
.i3/logfile
.irssi/away.log
.irssi/config*
.irssi/nicknames_whitelist
.irssi/otr
.irssi/saved_colors
.irssi/scripts/autorun/blocker.pl
.irssi/startup
.rainbow_oauth
.nginx/conf.d/*

# Vim related things
/vim/vim.symlink/*

!/vim/vim.symlink/backups/
vim/vim.symlink/backups/*

!/vim/vim.symlink/bundle/
vim/vim.symlink/bundle/*

!/vim/vim.symlink/ftplugin/
vim/vim.symlink/ftplugin/*

!/vim/vim.symlink/spell/
vim/vim.symlink/spell/*

!/vim/vim.symlink/swaps/
vim/vim.symlink/swaps/*

!/vim/vim.symlink/swaps/
vim/vim.symlink/swaps/*

!/vim/vim.symlink/undo/
vim/vim.symlink/undo/*

!vim/vim.symlink/**/.gitkeep

# Local related things
/local/*

!/local/bin
local/bin/*
!/local/bin/path.bash
!/local/bin/.gitkeep

!/local/install
local/install/*
!/local/install/.gitkeep
