# Random defaults
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

.extra
.gnupg
!.gnupg/gpg*.conf
.i3/logfile
.irssi/away.log
.irssi/config*
.irssi/nicknames_whitelist
.irssi/otr
.irssi/saved_colors
.irssi/scripts/autorun/blocker.pl
.irssi/startup
.rainbow_oauth
.nginx/conf.d/*

# Vim related things
/vim/vim.symlink/*
!/vim/vim.symlink/backups/.gitkeep
!/vim/vim.symlink/bundle/.gitkeep
!/vim/vim.symlink/ftplugin/.gitkeep
!/vim/vim.symlink/spell/.gitkeep
!/vim/vim.symlink/swaps/.gitkeep
!/vim/vim.symlink/undo/.gitkeep

# Local related things
